.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 12px;
}

.card{
  border: 1px solid green;
  text-align: center;
  background: rgb(205, 208, 200);
  padding: 6px 12px;
  border-radius: 10px;
  transition: 0.3s;
  width: 300px;
  cursor: pointer;
}
.card:hover{
  transform: scale(1,0.8);

}

.pagination{
  display: flex;
  justify-content: center;
  padding: 6px 12px;
}

.pagination button{
  border: 1px solid #ccc;
  color: white;
  background: black;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transform: 0.3s;
}

.pagination button:hover{
  transform: scale(1.05);
}

.buttons button{
  height: 30px;
  width: 60px;
  color: white;
  background: black;
  border-radius: 12px;
  margin-top: 12px;
  transform: 0.3s;
  cursor: pointer;
}
.buttons button:hover{
  transform: scale(1.03);
}

.container{
  text-align: center;
}